.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
folders.json
src/**
node_modules/**
out/storage/data.json
#storage/data.json
**/*.vsix
